### Introduction to Functions
Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [ ]:
## syntax
def function_name(parameters):
    """Docstring"""
    #function body
    return expression

In [1]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [2]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number os odd")

In [3]:
## call this function
even_or_odd(24)

the number is even

In [4]:
## function with multiple paramters
def add(a,b):
    return a+b
result = add(2,4)
print(result)

6

In [5]:
## Default paramter
def greet(name):
    print(f"Hello {name} welcome to the paradise")
    
greet("sulaikha")

Hello sulaikha welcome to the paradise

In [6]:
## Default paramter
def greet(name):
    print(f"Hello {name} welcome to the paradise")
    
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [8]:
## Default paramter
def greet(name="Guest"):
    print(f"Hello {name} welcome to the paradise")
    
greet()

Hello Guest welcome to the paradise

In [10]:
## Default paramter
def greet(name="sulaikha"):
    print(f"Hello {name} welcome to the paradise")
    
greet("Guest")

Hello Guest welcome to the paradise

In [19]:
# variable length argument
## Positional And Keywords arguments

def print_numbers(*krish):
    for number in krish:
        print(number)

In [20]:
print_numbers(1,2,3,4,5,6,7,8,"Krish")

1
2
3
4
5
6
7
8
Krish

In [21]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [23]:
print_numbers(1,2,3,45,6,7,8,"Krish")

1
2
3
45
6
7
8
Krish

In [24]:

### Keywords Arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

In [25]:
print_details(name="Sulaikha",age="22",country="India")

name: Sulaikha
age: 22
country: India

In [26]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional argument: {val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [27]:
print_details(1,2,3,4,"Krish",name="Krish",age="32",country="India")

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
Positional argument: Krish
name:Krish
age:32
country:India

In [28]:
### Return statements
def multiply(a,b):
    return a*b

In [29]:
multiply(2,3)

6

In [30]:

### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)