# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
post_int = {1,2,3,4,5,6}
even_int = {2,4,6,8}
union = post_int.union(even_int)
print(union)
intersection = post_int.intersection(even_int)
print(intersection)
difference = post_int.difference(even_int)
print(difference)
symmetric = post_int.symmetric_difference(even_int)
print(symmetric)

{1, 2, 3, 4, 5, 6, 8}
{2, 4, 6}
{1, 3, 5}
{1, 3, 5, 8}

In [5]:
# OR
set1 = set(range(1,6))
set2 = set(range(2,11,2))
print(f"Union: {set1 | set2}")
print(f"intersection: {set1 & set2}")
print(f"Differnce (set1-set2): {set1-set2}")
print(f"symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
intersection: {2, 4}
Differnce (set1-set2): {1, 3, 5}
symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
squares = {x**2 for x in range(1,11)}
squares

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
evens = {x for x in s if x%2==0}
evens

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [8]:
s = {1, 2, 2, 3, 4, 4, 5}
unique = set(s)
unique

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [9]:
set1 = set(range(1,6))
set2 = set(range(1,4))
print(f"Is set2 is subset of set1? {set2.issubset(set1)}")
print(f"Is set1 is a superset of set2? {set1.issuperset(set2)}")

Is set2 is subset of set1? True
Is set1 is a superset of set2? True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [10]:
fs = frozenset(range(1,6))
fs

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [11]:
s = set(range(1,6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [12]:
d = {
    frozenset({1,2}):3,
    frozenset({3,4}):7,
    frozenset({5,6}):11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [13]:
s = set(range(1,6))
for elem in s:
    print(elem)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [14]:
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [16]:
s = set(range(1, 6))
print(3 in s)
print(7 in s)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [17]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}