In [1]:
#creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
## Acessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
numbers[0]

1

In [9]:
numbers[2]

3

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [13]:
# Tuples Operations

concatenation_tuples = numbers + mixed_tuple
print(concatenation_tuples)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [14]:
mixed_tuple *3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [15]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [17]:
## Immutable nature of tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.
lst=[1,2,3,4,5]
print(lst)
lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [18]:
numbers[1] = "Krish"

TypeError: 'tuple' object does not support item assignment

In [19]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple methos
print(numbers.count(1))
print(numbers.index(3)) #3 is having index 2

1
2

In [21]:
# packing and unpacking tuple

packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
## unpacking a tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][2] # here we take zero index that is the [1,2,3,4] and next one is which element is selected and that is in index 2 is 3

3

In [26]:
lst[0][0:3]

[1, 2, 3]

In [27]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [29]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [30]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

## Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.