
## Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
## Declaring And Assigning Variables

age=32
height=6.1
name="sulaikha"
is_student=True

In [2]:
print("age :",age)
print("height :",height)
print("Name :",name)

age : 32
height : 6.1
Name : sulaikha

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

In [4]:
#valid variable names

first_name="Sulaikha"
last_name="Nazrin"

In [ ]:
# Invalid variable names
2age=30
first-name="Krish"
@name="Krish"

SyntaxError: invalid decimal literal (783436177.py, line 2)

In [7]:
## case sensitivity
name="Krish"
Name="Naik"

In [8]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

In [9]:
print(type(name))

<class 'str'>

In [10]:
type(height)

float

In [11]:
age=25
print(type(age))

<class 'int'>

In [12]:
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [13]:
age = '25'
print(type(age))

<class 'str'>

In [15]:
age = '25'
print(type(int(age)))

<class 'int'>

In [16]:
name = "Sulaikha"
int(name)

ValueError: invalid literal for int() with base 10: 'Sulaikha'

In [17]:
height = 5.11
type(height)

float

In [18]:
float(int(height))

5.0

In [19]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes

var = 10 ##int
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
age = input("what is the age")
print(age,type(age))

22 <class 'str'>

In [23]:
age = int(input("what is the age"))
print(age,type(age))

20 <class 'int'>

In [24]:
## Simple Clculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1/num2

print("Sum: ",sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ",quotient)

Sum:  5.0
Difference:  -1.0
Product:  6.0
Quotient:  0.6666666666666666

## Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.